---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import DonationPackages from '../components/DonationPackages.astro';
import Appeals from '../components/Appeals.astro';
import About from '../components/About.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Qurbani Foundation USA - Fulfill Your Qurbani Obligation | Eid al-Adha 2026">
  <Navbar />
  <main>
    <Hero />
    <Stats />
    <DonationPackages />
    <Appeals />
    <About />
    <FAQ />
  </main>
  <Footer />
</Layout>
